.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f2f2f2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr {
  margin: none;
}
/* Login */

.sidebar {
  background-color: #930000 ;
  
}
.sidebar h4 {
  color: white;
  text-align: left;
}

.sidebar img {
  width: 100%;
  background-color: white;
}
.sidebar .logo {
  width: 100%;
  padding-right: 100px;
  padding-left: 20px;
  border-color: white;
}

.sidebar h1 {
  background-color: white;
  margin: 20px;
  padding: 20px;
  width: 100%;
  text-align: left;
  float: left;
}

.footer-login h1 {
  text-align: left;
  color: #930000;
  padding-left: 10%;
  font-size: 50px;
  background-color: white;
  padding-top: none;
}
.footer-login img {
  float: left;
  margin-left: 20px;
}
  .button-login {
    display: inline-block;
    width: 100%;
    border: none;
    background-color: #930000;
    color: white;
    /* padding: 14px 28px; */
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
  }
  .button-login:hover {
    background-color: #ddd;
    color: #930000;
  }
  .button-creatacc {
    display: inline-block;
    width: 100%;
    border: none;
    background-color: #ddd;
    color: #930000;
    /* padding: 14px 28px; */
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    margin: 10px;
  }
  .button-creatacc:hover {
    background-color: #930000;
    color: white;
  }

  /* Register */

  .wrapper{
    display: inline-flex;
    background: #fff;
    height: 40px;
    width: 300px;
    align-items: left;
    /* padding-bottom: 10px; */
  }
  .wrapper .option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid lightgrey;
    transition: all 0.3s ease;
  }
  .wrapper .option .dot{
    height: 17px;
    width: 17px;
    background: white;
    border: 1px solid #0069d9 ;
    border-radius: 50%;
    position: relative;
  }
  .wrapper .option .dot::before{
    position: absolute;
    content: "";
    top: 2.5px;
    left: 2px;
    width: 11px;
    height: 10px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1);
    transition: all 0.3s ease;
  }
  input[type="radio"]{
    display: none;
  }
  /* #option-1:checked:checked ~ .option-1,
  #option-2:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
  } */
  #option-1:checked:checked ~ .option-1 .dot,
  #option-2:checked:checked ~ .option-2 .dot{
    background: white;
  }
  #option-1:checked:checked ~ .option-1 .dot::before,
  #option-2:checked:checked ~ .option-2 .dot::before{
    opacity: 1;
    transform: scale(1);
  }
  .wrapper .option span{
    font-size: 17px;
    color: black;
  }
  #option-1:checked:checked ~ .option-1 span,
  #option-2:checked:checked ~ .option-2 span{
    color: black;
  }
  
  .term {
    padding-top: 20px;
    font-size: small;
    color: gray;
  }

  .button-signup {
    display: block;
    width: 100%;
    border: none;
    background-color: #06a501;
    color: white;
    /* padding: 14px 28px; */
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    /* margin: 10px; */
  }
  .button-signup:hover {
    background-color: #ddd;
    color: #06a501;
  }

  .social-icon {
    width: 20%;
    /* padding-right: 10%; */
    border-radius: 5px;
    margin: 12px
  }

  .or {
    padding-top: 20px;
    font-size: small;
    color: gray;
    text-align: center;
  }

  .col-signup {
    align-items: center;
    padding-top: 10px;
  }

/* Header  */

  .navHeader h1 {
    text-align: left;
    color: #930000;
    padding-left: 15px;
  }

  .navHeader .logo {
    float: left;
    height: 100%;
  }

  .navHeader a {
    text-decoration: none;
    color: black;
    display: inline-flex;
  }
  .navHeader a:hover {
    text-decoration: none;
    color: #930000;
  }

  .containerNotif {
    /* position: absolute; */
    display: inline;
    text-align: left;
  }

  .containerNotif a {
    display: inline-flex;
  }

  .containerNotif img {
    width: 35%!important;
    height: auto;
    padding-top: 5px;
    /* margin: 30px; */
    padding-top: none;
    margin-left: 25px;
    /* padding-right: 60px; */
    align-items: right;
  }

  .containerNotif1 img {
    width: 30%!important;
    height: 100%;
    padding-top: 5px;
    margin-left: 20px;
    /* margin: 30px; */
    padding-top: none;
    /* margin-left: 25px; */
    /* padding-right: 60px; */
    align-items: right;
  }

  .classifiedIcon {
    position: relative;
    /* bottom: 15px; */
    right: 10%;
    color: #930000;
    background-color: lightgray;
    border-radius: 50%;
    text-align: center;
    /* margin: 14px; */
    padding: 2px 10px 5px 10px;
    width: auto;
    display: inline;
  }

  .classifiedIcon1 {
    position: relative;
    background-color: lightgray;
    color: #930000;
    border-radius: 50%;
    right: 10%;
    /* bottom: 14px; */
    text-align: center;
    /* margin: 14px; */
    padding: 2px 10px 2px 10px;
    width: auto;
    display: inline;
  }

  @media only screen and (max-width: 745px) {
    .classifiedIcon1 {
      bottom: 15px;
      margin-left: 0;
      /* left: 30%; */
      top: 0px;
    }
    .containerNotif1 img {
      width: 40%!important;
      /* padding-top: 5px; */
      margin-left: 0px;
      padding-top: none;
      /* margin-left: 25px; */
      /* padding-right: 60px; */
      align-items: left;
    }
  }

  @media only screen and (max-width: 600px) {
    .classifiedIcon {
      right: 20px;
    }

    .containerNotif img {
      width: 70%!important;
      padding-top: 5px;
      margin-left: 0px;
      padding-top: none;
      /* margin-left: 25px; */
      /* padding-right: 60px; */
      align-items: right;
    }
  }

  .navIcon p{
    position: relative;
    /* bottom: 15px; */
    right: 15%;
    /* transform: translate(-50%, -50%); */
    background-color: lightgray;
    color: #930000;
    border-radius: 60%;
    /* font-size: large; */
    text-align: center;
    display: inline-block;
    /* margin: 14px; */
    width: 60%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 3px;
  }

  .navIcon1 p{
    position: relative;
    bottom: 60px;
    left: 48%;
    /* transform: translate(-50%, -50%); */
    background-color: lightgray;
    border-radius: 60%;
    /* font-size: large; */
    text-align: center;
    display: inline-block;
    margin: 14px;
    width: 60%;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .navIcon {
    display: inline-flex;
  }
  /* Right Side Bar  */

  .rightSide1 {
    background-color: #930000;
    padding: 10%;
    text-align: left;
    height: 350px;
  }
  .rightSide1 h2 {
    color: white;
  }

  .rightSide1 img {
   
    width: 80%;
    position: relative;
    left: 5%;
    /* right: 50%; */
    transform: translate(-30%, -0%);
    text-align: center;

  }

  .rightSide2 {
    background-color: lightgray;
    padding: 10%;
    padding-top: 0;
    text-align: left;
    margin-top: 0;
  }

  .rightSide2 p{
    font-size: large;
  }

  .rightSide2 img {
    width: 90%;
    position: relative;
    left: 20%;
    /* right: 50%; */
    transform: translate(-10%, -40%);
    text-align: center;
  }

  .rightSide3 {
    /* padding: 10%; */
    background-color: lightgray;
    text-align: left;
  }

  .rightSide3 img{
    width: 50%;
    padding: 3%;
  }

  .rightSide3 .collecion {
    width: 100%;
    /* position: relative; */
    left: 10%;
    /* right: 50%; */
    transform: translate(-0%, -35%);
    text-align: center;
  }

  .rightSide4 {
    text-align: left;
    background-color: lightgray;
  }

  .rightSide4 img {
    width: 100%;
  }

  .rightSide4 h3 {
    /* padding: 10%; */
    display: inline;
    text-align: left;
    padding-left: 10px;
  }

  /* Left Side Bar  */

  .leftSide1 {
    background-color: lightgray;
    padding: 3%;
    text-decoration: none;
    height: 350px;
    /* margin-left: 15px; */
  }

  .leftSide1 h2{
    text-align: right;
  }

  .leftSide1 p:hover{
    text-decoration: none;
    color: black;
  }

  .leftSide1 h3{
    color: gray;
  }

  .leftSide1 img{
    width: 75%;
    height: auto;
  }

  .leftSide1 p{
    text-align: right;
    padding-top: 4%;
    padding-right: 17%;
    /* padding-top: 5%; */
    color: #930000;
    text-decoration: none;
  }

  .leftSide2 {
    background-color: lightgray;
    padding: 10%;
    text-align: left;
  }

  .leftSide2 img {
    width: 150%;
  }

  .leftSide2 a{
    text-align: right;
    color:  #930000;
    text-decoration: none;

  }

  .leftSide2 a:hover{
    text-decoration: none;
    color: black;
  }

  .leftSide2 p {
    /* padding-right: 10%; */
    padding-left: 10px;
    text-decoration: none;
  }

  .leftSide3 {
    background-color: lightgray;
  }

  .leftSide3 img{
    width: 100%;
    align-items: center;
  }
  
  .leftSide4 {
    background-color: white;
  }

  .leftSide4 img {
    width: 80%;
  }
  
  .leftSide5 {
    background-color: lightgray;
    /* padding: 10%; */
    text-align: center;
  }
  
  .leftSide5 img {
    width: 100%;
  }

  .leftSide5 .data {
    display: inline;
    color: #930000;
    /* padding: 9px; */
    text-align: left;
    /* margin-left: 50px; */
    margin-right: 10px;
    /* padding-left: 50%; */
  }

  .leftSide5 .fill {
    display: inline;
    text-align: left;
  }

  .leftSide5 br {
    display: block;
    margin: 10px 0;
  }

  .leftSide6 {
    text-align: center;
    background-color: lightgray;
    padding: 19px;
  }

  .leftSide6 img{
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
  }

  .leftSide6 a{
    text-align: right;
    color:  #930000;
    text-decoration: none;
  }

  .leftSide6 a:hover{
    text-decoration: none;
    color: black;
  }

  .leftSide6 h3 {
    text-align: left;
  }

  .most {
    text-align: center;
    /* margin-left: 20px; */
  }
  /* Profile  */

  .banner {
    width: 100%;
    height: 230px;
    padding-bottom: 5px;
  }

  .profile1 { 
    padding-bottom: none;
    bottom: 20%;
    padding: none;
    margin: none;
  }

  .chandra {
    position: relative;
    bottom: 10%;
    left: 10%;
    /* right: 50%; */
    transform: translate(-50%, -50%);
    background-color: lightgray;
    border-radius: 50%;
    /* font-size: large; */
    width: 15%;
    height: 15%;
    text-align: center;
  }

  .chandra2 {
    position: relative;
    bottom: 10%;
    left: 14%;
    /* right: 50%; */
    transform: translate(-50%, -50%);
    background-color: lightgray;
    border-radius: 50%;
    /* font-size: large; */
    width: 23%;
    height: 15%;
    text-align: center;
  }

  .clapper {
    position: relative;
    /* bottom: 10%; */
    top: 50px;
    right: 25%;
    /* right: 50%; */
    transform: translate(-50%, -0%);
    background-color: lightgray;
    /* font-size: large; */
    width: 23%;
    text-align: left;
  }

  .marital {
    width: 10%;
    border-radius: 50%;
    margin: 5px;
  }

  .user p {
    display: inline;
    color: #930000;
    font-size: medium;
  }

  .profile1 a{
    color: black;
    display: inline-block;
    text-decoration: none;
    text-align: right;

  }

  .profile1 .imgform {
    border-radius: 50%;
    width: 7%;
    float: left;
    top: 20px;
    transform: translate(-30%, 30%);

  }

  .profile1 .notif {
    padding-left: 30px;
  }

  .profile1 .notif p {
    padding-left: 30px;
  }


  .profile1 a:hover{
    color: #930000;
  }

  .profile1 h3{
    text-align: left;
    padding-left: 20px;
  }

  .grup {
    background-color: lightgray;
    margin: none;
    padding: none;
  }

  .grup img {
    /* display: block; */
    width: 75%;
    border-radius: 50%;
    padding: 10px;
    /* float: left; */
  }

  .grup a{
    display: inline;
    text-align: center;
    text-decoration: none;
  }

  .grup a:hover {
    text-decoration: none;
  }



  @media only screen and (max-width: 600px) {
    .grup img {
      width: 150%;
    }
  }

  /* .grup iframe {
    margin-right: 120px;
    right: 20px;
  } */
  .car {
    background-color: lightgray;
  }

  .car img {
    width: 100%!important;
    border-radius: 0!important;
    padding: 0!important;
  }


  .underForm p{
    display: inline;
    /* padding-left: 10px; */
    /* position: relative; */
    /* transform: translate(-50%, -50%); */
    background-color: lightgray;
    border-radius: 60%;
    margin: 14px;
    width: 60%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* text-align: left; */
  }

  .underForm a:hover{
    text-decoration: none;
    color: black;
  }

  .underForm a{
    text-decoration: none;
    color: #930000;
  }

  .star {
    position: absolute;
  }

  @media only screen and (max-width: 700px) {
    .star {
      position: absolute;
      top: 140px;
      left: 40px;
    }
  }

  .star h2 {
    /* left: 60%; */
    color: #930000;
    position: relative;
    bottom: 130px;
    left: 120%;
    transform: translate(-50%, -50%);
    border-radius: 60%;
    text-align: center;
    width: 30%;
  }

  /* .star img{
    width: 89%;
    border-radius: 50%;
    padding: 10px;
  } */

  .star p {
    color: black;
  }
  

  /* Dropdown  */

  .dropbtn {
    border: none;
    cursor: pointer;
    right: 0;

  }
  
  .dropdown1 {
    position: relative;
    display: inline;
    margin-left: 50%;
    float: right;
    justify-content: end;
  }

  @media only screen and (max-width: 1200px) {
    .dropdown1 {
      left: 0;
    }
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
    right: 0;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px 14px 5px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown1:hover .dropdown-content {
    display: block;
  }
  
  /* Music Culture  */

  .profile2 h1{
    text-align: left;
    font-size: 60px;
    padding-left: 15px;
  }

  .profile2 h2 {
    text-align: center;
    padding-top: 10px;
    color: #930000;
    display: inline-block;
    margin: 10px;
  }

  .profile2 h2:hover {
    color: black;
  }

  .reviews {
    background-color: lightgray;
  }

  .reviews a {
    display: inline-block;
  }

  .reviews h2{
    color: #930000;
    text-align: left;
    margin-left: 20px;
    display: inline;
  }
  .reviews h3 {
    width: 100%;
    text-align: center;
    
  }

  .reviews img {
    width: 200%;
    border-radius: 50%;
    margin: 5px 10px 10px 15px;
    /* float: left; */
    left: 0;
  }

  @media only screen and (max-width: 600px) {
    .reviews img {
      width: 20%;
    }
  }

  .reviews p {
    /* display: inline; */
    text-align: left;
    margin: 10px 10px 10px 26px;
    padding: 10px;
  }

  .iphone img{
    width: 90%!important;
    border-radius: 0!important;
    padding: 0!important;
    margin-right: 20px;
    margin-top: 20px;
  }

  .edit p{
    display: inline-block;
    /* right: 50%; */
    transform: translate(100%, -130%);
    text-align: right;
  }

  /* Chat  */

  .chatBox{
    position: relative;
    width: 450px;
    height: 550px;
    background-color: rgb(238, 238, 238);
    margin: auto;
    margin-bottom: -550px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
  }

  .chatBox h4{
    background-color: rgb(89, 89, 248);
    height: 50px;
    width: 450px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    text-align: center;
    color: white;
    padding-top: 10px;
    margin-left: -20px;
  }

  .chatForm{
    margin-bottom: auto;
    margin-top: 60px;
    width: 450px;
  }

  input{
    width: 355px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding-left: 15px;
  }

  .sendButton{
    margin-left: 10px;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(89, 89, 248);
    color: white;
  }

  .chatBg{
    background-color: rgba(0, 0, 0, 0.308);
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  .chatContent{
    height: 370px;
    overflow-y: scroll;
    text-align: right;
    padding-right: 20px;
  }

  .chatTime{
    margin-top: -20px;
    font-size: 10px;
    font-weight: 550;
  }

  .chatBubble{
    background-color: rgb(139, 139, 245);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: 1px;
    color: white;
  }

  .chatBubble2{
    background-color: rgb(139, 139, 245);
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    width: fit-content;
    margin-left: 1px;
    margin-right: auto;
    color: white;
  }